*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#bikedekhoparent{
    border: 1px solid black;
    width: 100%;
}

#loginpage{
    border: 1px solid black;
    width: 100%;
    color: black;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    position: sticky;
    z-index: 10;
}

#search{
    font-size: 20px;
    position: absolute;
    margin-right: -10px;
}

#logo{
    border: 1px solid black;
    height: 70px;
    width: 100px;

}

#searchbar{
    height: 40px;
    width: 300px;
    border-radius: 20px;
}

#register{
    display: flex;
}

#category{
    border: 1px solid black ;
    color: black;
    background-color: white;
    height: 50px;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   gap: 10px;
   flex-wrap: wrap;
   position: fixed;
   z-index: 10;
}

#location{
    display: flex;
}

#spotlight{
    border: 1px solid black;
    height: 500px;
    width: 100%;
}